= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  %legend Resend confirmation instructions
  = devise_error_messages!

  %div.field
    = f.label :email
    = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

  %div.actions
    = f.submit "Resend confirmation instructions"

= render "users/shared/links"


