= form_for @entry do |f|
  %fieldset
    %legend edit entry
    - if @entry.item
      = autofill_inputs :entry, :item_id, "item", :value => @entry.item.id, :label => @entry.item.friendly_name
    -else
      = autofill_inputs :entry, :item_id, "item"
    = autofill_inputs :entry, :account_id, "account", :value => @entry.account.id, :label => @entry.account.friendly_name
    -#= label_and_input f, :price, "price", nil
    -#= label_and_input f, :qty, "quantity", nil
    = f.submit "save changes"
