%table
  %caption journal
  %colgroup
    %col.date
    %col.desc
    %col.account
    %col.dr
    %col.cr
  %thead
    %tr
      %th date
      %th description
      %th account
      %th debit
      %th credit
  %tbody
    - current_user_id = user_signed_in? ? current_user.id : nil
    - ents = Entry.joins(:account).where("accounts.user_id" => current_user_id)
    -# by_transaktion = Entry.all.group_by {|entry| entry.transaktion}
    - by_transaktion = ents.group_by {|entry| entry.transaktion}
    - transaktions = by_transaktion.sort_by {|transaktion, entries| transaktion.date}
    - transaktions.each do |transaktion, entries|
      %tr.bold
        %td
          = link_to transaktion.date.strftime("%a %d %b %Y"), transaktion_path(transaktion)
        %td
          = link_to transaktion.entity.friendly_name, entity_path(transaktion.entity)
      - entries.each do |entry|
        - qty = entry.qty
        - amt = entry.price * qty
        %tr
          %td.amount
            = link_to "✎", edit_entry_path(entry) 
          %td 
            - if entry.item
              = link_to entry.item.friendly_name, item_path(entry.item)
              = qty != 1 ? " (qty #{qty})" : ""
          %td
            = link_to entry.account.friendly_name, account_path(entry.account)
          %td.amount
            = "%.2f" % amt if amt > 0
          %td.amount
            = "%.2f" % -amt if amt < 0

