
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %legend Log in
  $div.field
    = f.label :email
    = f.email_field :email, autofocus: true

  %div.field
    = f.label :password
    = f.password_field :password, autocomplete: "off"

  - if devise_mapping.rememberable?
    %div.field
      = f.check_box :remember_me
      = f.label :remember_me

  %div.actions
    = f.submit "Log in"

= render "users/shared/links"
