<%= form_for(transaktion) do |f| %>
  <% if transaktion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaktion.errors.count, "error") %> prohibited this transaktion from being saved:</h2>

      <ul>
      <% transaktion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label :entity_id %>
    <%= f.text_field :entity_id %>
  </div>

  <div class="field">
    <%= f.label :is_void %>
    <%= f.check_box :is_void %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
