= form_for @transaktion do |f|
  %fieldset
    %legend edit transaction
    = label_and_input f, :date, "transaction date", nil
    = autofill_inputs :transaktion, :entity_id, "other party to transaction", :value => @transaktion.entity.id, :label => @transaktion.entity.friendly_name
    = f.submit "save changes"
