%p#notice
  = notice

%table
  %caption your transactions
  %thead
  %tbody
    - @transaktions.each do |transaktion|
      %tr
        %td
          = link_to "✎", edit_transaktion_path(transaktion) 
        %td
          = link_to transaktion.date.strftime("%a %d %b %Y"), transaktion_path(transaktion)
        %td
          = link_to transaktion.entity.friendly_name, entity_path(transaktion.entity)
        %td.amount
          = "%.2f" % transaktion.magnitude
