= form_for @transaktion do |f|
  %fieldset
    %legend point of sale information
    = f.label :date, "date of transaction:"
    = f.text_field :date, autocomplete: "off"
    = autofill_inputs :transaktion, :entity_id, "other party to transaction:"
  %fieldset.entry-block.credit
    %legend payments
    %table
      %thead
        %tr
          %th account
          %th amount
      %tbody
        = transaktion_entry 1, 1
    %button.replicator{:type => "button"} additional payment method
  %fieldset.entry-block.debit
    %legend purchases this transaction
    %table
      %thead
        %tr
          %th item
          %th account
          %th price
          %th quantity
          %th amount
      %tbody
        = transaktion_entry 0, 0
    %button.replicator{:type => "button"} additional item
  = f.submit "post transaction", id: "post"
  %fieldset
    %legend totals so far
    %label
      debits
      %input#debits.numeric{:disabled => true}
    %label
      credits
      %input#credits.numeric{:disabled => true}
    %label
      difference
      %input#difference.numeric{:disabled => true}
