%p#notice
  =notice

%table
  %caption
    %span.entity-name
      - entity_id = @transaktion.entity_id
      %a{:href => entity_path(entity_id)}
        = Entity.find(entity_id).name
    %br
    %span.date
      - transaktion_date = @transaktion.date
      = transaktion_date.strftime "%A %d %B %Y"
  %colgroup
    %col
    %col
    %col
    %col
    %col
    %col
    %col
  %thead
    %tr
      %th account
      %th item
      %th price
      %th qty
      %th debit
      %th credit
      %th
  %tbody
    - current_user_id = user_signed_in? ? current_user.id : nil
    - if @transaktion.user_id == current_user_id
      - Entry.where(transaktion_id: @transaktion.id).each do |entry|
        - pq = entry.price * entry.qty
        - account_id = entry.account_id
        - item_id = entry.item_id
        %tr
          %td
            %a{:href => account_path(account_id)}
              = Account.find(account_id).friendly_name
          %td
            - if item_id
              %a{:href => item_path(item_id)}
                = Item.find(item_id).friendly_name
          %td.numeric
            = "%.4f" % entry.price if entry.qty > 0
          %td.numeric
            = "%.4f" % entry.qty if entry.qty > 0
          %td.numeric
            = "%.2f" % pq if pq > 0
          %td.numeric
            = "%.2f" % -pq if pq < 0
          %td
            = link_to "edit", edit_entry_path(entry)

