= form_for @entity do |f|
  %legend edit entity
  %fieldset
    %legend name
    = label_and_input f, :name, "name:", 1
  %fieldset
    %legend address
    = label_and_input f, :no, "street number:", 2
    = label_and_input f, :street, "street:", 3
    = label_and_input f, :unit, "unit, e.g. Suite 100:", nil
    %br
    = label_and_input f, :box, "box:", nil
    %br
    = label_and_input f, :city, "city:", 4
    = label_and_input f, :polsub, "state, province, etc.:", 5
    = label_and_input f, :postal, "postal code (e.g. zip code):", 6
    %br
    = label_and_input f, :nation, "country:", 7
  %fieldset
    %legend other contact info
    = label_and_input f, :phone, "phone:", 8
    = label_and_input f, :email, "email:", 9
    = label_and_input f, :url, "url:", 10
  = f.submit "save changes", :tabindex => 11


    
