%p#notice
  = notice

%p.centered
  - sorted_entity_list = @entities.sort_by {|entity| entity.friendly_name }
  = link_to sorted_entity_list[0].friendly_name
  - sorted_entity_list[1..-1].each do |entity|
    = " *** "
    - display_name = escape_once(entity.friendly_name.strip.gsub /\s+/, "&nbsp;")
    = link_to display_name, entity_path(entity)

