%p#notice
  =notice

%table
  %caption
    %p.name-and-address
      %span.entity-name
        = @entity.name
      - add1 = [@entity.no, @entity.street, @entity.frac].join " "
      - add1.gsub!(/\s+/, " ").strip!
      - add2 = @entity.unit
      - add3 = @entity.box
      - add4 = "#{@entity.city}, #{@entity.polsub} #{@entity.postal}"
      - add5 = @entity.nation
      - address = [add1, add2, add3, add4, add5].select {|a| a.to_s != ""}
      - address.each do |line|
        %br
        = line
    %p.misc-contact-info
      - contact_info = [@entity.phone, @entity.email, @entity.url]
      - contact_info.select! {|a| a.to_s != ""}
      - if contact_info.length > 0
        = contact_info[0]
        - contact_info[1..-1].each do |line|
          %br
          = line
    %p
      = link_to "edit name or address", edit_entity_path(@entity)
  %thead
    %tr
      %th transaction history
  %tbody
    - Transaktion.where(entity_id: @entity.id).each do |transaktion|
      %tr
        %td
          - transaktion_id = transaktion.id
          %a{:href => transaktion_path(transaktion_id)}
            = Transaktion.find(transaktion_id).date.strftime "%a %d %b %y"

