
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  %legend Resend unlock instructions
  = devise_error_messages!

  %div.field
    = f.label :email
    = f.email_field :email, autofocus: true

  %div.actions
    = f.submit "Resend unlock instructions"

= render "users/shared/links"
