%h1 Ettal: an open source tool for personal expense tracking
%h2
  = link_to "enter a transaction", new_transaktion_path
  %br
  = link_to "journal", entries_path
  %br
  = link_to "product list", items_path
  %br
  = link_to "balance sheet", accounts_path
  %br
  = link_to "vendor list", entities_path

