%p#notice
  = notice

%table
  %caption
    = @gendesc.gendesc
  %thead
  %tbody
    - entries = Entry.joins(:item).where("items.gendesc_id": @gendesc.id)
    - entries.each do |entry|
      %tr
        %td
          = entry.transaktion.date.strftime "%a %d %b %y"
        %td
          - entity = entry.transaktion.entity
          = link_to entity.friendly_name, entity_path(entity)
        %td
          - item = entry.item
          = link_to entry.item.brand, item_path(item)
        %td
          %strong
            - unit_str = entry.item.unit.friendly_name.sub(/\(.*$/, "").strip.singularize
            = "#{"%.5f" % (entry.price/entry.item.size)} per #{entry.item.unit.short_form}"
          

%p possibly similar generic descriptors:
%ul
  - controller = GendescsController.new
  - words = @gendesc.friendly_name.downcase.split /[^a-z]+/
  - singulars = words.map {|word| word.singularize}
  - plurals = words.map {|word| word.pluralize}
  - words = singulars | plurals
  - others = Gendesc.friendly_names
  -# find subset of others having at least one of words as substring
  - others.select! do |other|
    - otherwords = other[:label].downcase.split /[^a-z]+/
    - singulars = otherwords.map {|word| word.singularize}
    - plurals = otherwords.map {|word| word.pluralize}
    - otherwords = singulars | plurals
    - other[:matches] = (words & otherwords).length
    - other[:matches] > 0
  - others.sort_by{|other| -other[:matches]}.each do |other|
    %li
      = link_to other[:label], gendesc_path(other[:value])

