= form_for @item do |f|
  %fieldset
    %legend edit item
    = label_and_input f, :barcode, "bar code", 1
    %br
    = label_and_input f, :brand, "brand", 2
    = autofill_inputs :item, :gendesc_id, "generic description", :value => @item.gendesc.id, label: @item.gendesc.gendesc
    %br
    = label_and_input f, :size, "size", 4
    = autofill_inputs :item, :unit_id, "unit", :value => @item.unit.id, label: @item.unit.unit
    %br
    = f.submit "save changes"
