%table
  %caption products on file
  %colgroup
    %col.item-id
    %col.barcode
    %col.brand
    %col.gendesc
    %col.size
  %thead
    %th id
    %th bar code
    %th brand
    %th generic description
    %th size
  %tbody
    - Item.all.each do |item|
      %tr
        %td
          = link_to item.id, item_path(item.id)
        %td
          = item.barcode
        %td
          = item.brand
        %td
          - if item.gendesc
            = link_to item.gendesc.gendesc, gendesc_path(item.gendesc.id)
        %td
          = item.size
          = " #{item.unit.short_form}" if item.unit

