= form_for @item do |f|
  %fieldset
    %legend add product to database
    = label_and_input f, :barcode, "bar code", nil, :autofocus => true
    %br
    = label_and_input f, :brand, "brand", nil
    = autofill_inputs :item, :gendesc_id, "generic description"
    %br
    = label_and_input f, :size, "size", nil, :class => "size"
    = autofill_inputs :item, :unit_id, "units"
    %br
    = f.submit

