%p#notice
  =notice

%table
  %caption
    %p.item-desc
      %span.brand
        = @item.brand
      = " "
      %span.gendesc
        = link_to @item.gendesc.gendesc, gendesc_path(@item.gendesc)
    %p
      = link_to "edit item", edit_item_path(@item)

  %thead
    %tr
      %th date
      %th vendor
      %th price
  %tbody
    - Entry.where(item_id: @item.id).each do |entry|
      %tr
        - entry_id = entry.id
        - transaktion = Transaktion.find(entry.transaktion_id)
        %td
          = transaktion.date.strftime "%a %d %b %y"
        %td
          - entity_id = transaktion.entity_id
          %a{:href => entity_path(entity_id)}
            = Entity.find(entity_id).friendly_name
        %td
          = entry.price
 
