
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  %fieldset
    %legend Change your password
    = devise_error_messages!
    = f.hidden_field :reset_password_token

    %div.field
      = f.label :password, "New password"
      - if @minimum_password_length
        %em
          "(#{@minimum_password_length} characters minimum)"
      = f.password_field :password, autofocus: true, autocomplete: "off"

    %div.field
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation, autocomplete: "off"

    %div.actions
      = f.submit "Change my password"

= render "users/shared/links"
