
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  %legend Forgot your password?
  = devise_error_messages!

  %div.field
    = f.label :email
    = f.email_field :email, autofocus: true

  %div.actions
    = f.submit "Send me reset password instructions"

= render "users/shared/links"
