// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cr:after {
  content: " CR";
}

.cr {
  color: red;
}

.top-align {
 vertical-align: top;
}

.column-total {
 border-top: 1px solid black;
}

.no-underline {
 text-decoration: none;
}

