/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 *= require jquery-ui/autocomplete
 *= require jquery-ui/dialog
 */

nav {
 text-align: right;
 margin-right: 150px;
}

select {
 position: absolute;
 width: 30em;
 cursor: pointer;
}

label {
 display: inline;
}

/* h/t Yacine Zalouani http://stackoverflow.com/a/12267927/948073 */
input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

iframe {
 width: 100%;
/* h/t Nathan Pond http://stackoverflow.com/a/13114809/948073 */
 min-width: 95%;
}

caption {
 font-size: 20px;
 font-weight: bold;
}

legend {
 font-weight: bold;
}

th {
 text-align: center;
}

.numeric, .amount {
 text-align: right;
}

.amount {
 width: 10em;
}

/* h/t Thomas Williams http://stackoverflow.com/a/40550170/948073 */
.ui-helper-hidden-accessible{
    display:none !important;
}

.date {
 width: 15em;
}


.desc {
 width: 45em;
}

.date {
 width: 25em;
}

.barcode {
 width: 13em;
}

.item-id {
 width: 5em;
}

.red {
 background-color: pink;
 border-color: red;
}

.centered {
 text-align: center;
}


/* h/t codepo8 https://codepo8.github.io/css-fork-on-github-ribbon/ */
#forkongitlab a {
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#forkongitlab a:hover {
    background: #c11;
    color: #fff;
}

#forkongitlab a::before,
#forkongitlab a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongitlab a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width:800px) {
    #forkongitlab {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }
    #forkongitlab a {
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}
