%html{:lang => "en-us"}
  %head
    %title
      = request.fullpath.split("/").reverse.join " "
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turnbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    %nav
      = link_to "\u2302", welcome_index_path, :method => :get
      - if user_signed_in?
        = current_user.email
        -# h/t Jessie Dedecker http://stackoverflow.com/a/6557627/948073
        = link_to "sign out", destroy_user_session_path, :method => :delete
      - else
        = link_to "sign up", new_user_registration_path, :method => :get
        = link_to "sign in", new_user_session_path, :method => :get
    = yield
    %span#forkongitlab
      %a{:href => "https://gitlab.com/n8chz/ettal"}Fork me on GitLab
