= form_for @account do |f|
  %fieldset
    %legend edit account
    = label_and_input f, :name, "account name", 1
    %br
    = label_and_input f, :number, "account number", 2
    %br
    = autofill_inputs :account, :account_id, "parent account", :value => @account.account.id, :label => @account.account.friendly_name
    %br
    = f.label :private
    = f.check_box :private
    %br
    = f.submit "save changes"

