%p#notice
  = notice

%table
  %caption balance sheet
  %colgroup
    %col.assets
    %col.liabilities
  - groups = @accounts.group_by do |account|
    - account.friendly_name.split("|").shift
  %tbody
    %tr
      - [0, 1].each do |column|
        = balance_sheet_column groups, column

