= form_for :account, url: accounts_path do |f|
  %fieldset
    %legend create new account
    = f.label :name, "account name"
    = f.text_field :name, :autofocus => true
    %br
    = autofill_inputs :account, :account_id, "parent account"
    %br
    = f.label :private, "private?"
    = f.check_box :private
    %br
    = f.label :number, "account number"
    = f.text_field :number
    %br
    = f.submit "create account"

