%table
  %caption
    = @account.friendly_name
  %thead
    %tr
      %th date
      %th entity
      %th debit
      %th credit
      %th balance
  %tbody
    - all_entries = Entry.where(account_id: @account.id)
    - entries_by_transaktion = all_entries.group_by {|entry| entry.transaktion_id}
    - bal = 0
    - entries_by_transaktion.each do |transaktion_id, entries|
      %tr
        - transaktion = Transaktion.find(transaktion_id)
        - transaktion_id = transaktion_id
        - date = transaktion.date
        - entity = Entity.find(transaktion.entity_id)
        - entity_desc = entity.friendly_name
        - amt = 0
        - entries.each do |entry|
          - amt += entry.price * entry.qty
        - bal += amt
        %td
          %a{href: transaktion_path(transaktion_id)}
            = date.strftime "%a %d %b %Y"
        %td
          %a{href: entity_path(entity.id)}
            = entity_desc
        %td
          = "%.2f" % amt if amt > 0
        %td
          = "%.2f" % -amt if amt < 0
        - if bal < 0
          %td.cr
            = "%.2f" % -bal
        - else
          %td
            = "%.2f" % bal
