- if user_signed_in? && Account.where(user_id: current_user.id).length == 0
  %div.msg
    This is a text.
  = form_for :account do |f|
    = starter_pack_helper nil
    = text_field_tag :user_id, nil, type: "hidden", value: current_user.id
    = f.submit "create accounts"
- else
  %div.msg
    You already have a chart of accounts.
    Click
    = link_to "here", new_account_path
    to add to it.
