
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  %legend sign up
  = devise_error_messages!

  %div.field
    = f.label :email
    = f.email_field :email, autofocus: true

  %div.field
    = f.label :password
    - if @minimum_password_length
    %em
      "(#{@minimum_password_length} characters minimum)"
    = f.password_field :password, autocomplete: "off"

  %div.field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off"

  %div.actions
    = f.submit "Sign up"

= render "users/shared/links"

